.vehiculo__input, .domicilio__input{
    color: #fff;
    font-size: 14px;
    padding-left: 10px;
}

.vehiculo{
    margin: 20px 0;
}

.input_v{
    margin-left: 17px;
    color: #fff;
    font-size: 14px;
}